@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

body {
  font-family: "myriad-pro";
  font-weight: lighter;
}

p {
  font-size: 18px;
}

strong {
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 960px !important;

  margin: 0 auto;
}

section {
  min-height: 200px;
  padding-top: 5em;
  padding-bottom: 5em;
}

h1, h2 {
  text-align: center;
  font-weight: lighter;
}

img {
  max-width: 100%;
}

section:nth-child(odd) {
  background-color: #FCFAF5;
}

#splash {
  width: 100%;
  text-align: center;

  margin-bottom: 0;
  padding-top: 3%;
}

#splash h1 img{
  margin-bottom: 1em;
  width:500px;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-container {
  margin-bottom: -10em;
}

@media screen and (max-width: 768px) {
  #video-container {
    margin-left: -30px;
    margin-right: -30px;
  }

  figure {
    margin: 1em 0;
  }
}

#intro {
  padding-top: 10em;
}

#intro h2 {
  margin-bottom: 3em;
}

figure {
  position: relative;
}

.people {
  position: relative;
  padding: 8em 0;
}

.people figure img {
  position: relative;
  margin-bottom: 1px;
}

.people figcaption {
  width: 100%;
  padding: 12px;

  position: absolute;
  bottom: 0px;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#jean:before{
  height:200px;
  width:100%;

  content:"";
  position:absolute;
  top:-100px;

  background: url("images/backgrounds/green-top.png") no-repeat top center;
  background-size:100%;
}

#orlando:before {
  height: 200px;
  width: 100%;

  content: "";
  position: absolute;
  top: -100px;

  background: url("images/backgrounds/red-top.png") no-repeat top center;
  background-size: 100%;
}

#orlando .profile-image {  
  float: right;
}

#bobby:before {
  height: 200px;
  width: 100%;

  content: "";
  position: absolute;
  top: -100px;

  background: url("images/backgrounds/blue-top.png") no-repeat top center;
  background-size: 100%;
}

blockquote {
  font-size: 1.5em;
}

h3.profile-name {
  margin-bottom: 0;
}

.profile-title {
  font-style: italic;
}

#process {
   overflow: hidden;
   background: url("images/backgrounds/yams.png") no-repeat top center;
   background-size: auto 100%;

   padding-bottom: 0;
}

#process .container {
  position: relative;
}

#process > .container:before {
  height: 1500px;
  width: 3px;
  z-index: -1;

  content: "";
  position: absolute;
  margin-top: -7em;
  margin-bottom: -5em;
  margin-left: 5%;

  background-color: #ddd;
}

#process h2 {
  margin-bottom: 30px;
  color: white;

  background: url("images/backgrounds/process-grey.png") no-repeat top center;
  background-size: 40%;
  padding: 50px 0;
}

#process-content {
  min-height: 800px;
  padding: 50px;
  margin-bottom: -5px;

  background-color: #FCFAF5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#process-content .lead {
  text-align: center;
  margin-bottom: 2em;
}

#basil-pesto {
  padding-top: 2em;
  padding-bottom: 2em;
}

.process-header {
  max-width: 80%;
  display: block;
  margin: auto;

  margin-bottom: 2.5em;
}

#dishwash .process-header {
  margin-top: 5em;
}

#dishwash-images {
  margin-bottom: 2em;
}

#share-the-love h2 {
  background: url("images/backgrounds/red-3.png") no-repeat top center;
  background-size: 100%;

  padding: 180px 0;
  color: white;
}

#share-the-love ul{
  font-size: 1.5em;
  font-weight: 400;
  list-style-type: none;
}

#share-the-love ul p {
  font-weight:300;
}

#share-the-love li:before {
  font-family: 'FontAwesome';
  font-size: 14px;
  content: '\f054';
  margin:0 20px 0 -20px;
  color: #000;
}

#share-the-love li p {
  margin-left: 10px;
}

#share-buttons {
  margin-top: 1em;
  margin-left: 15px;
}

#share-buttons > div {
  display: inline-block;
  vertical-align: top;
}

#share-facebook {
  margin-right: 10px;
}

#share-twitter {
  margin-left: 10px;
}

footer {
  background-color: #FCFAF5;
}

footer .container {
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
}